body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

input[type="number"], input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 5px;
}

footer .resultados, footer .dados-inseridos {
    font-size: 1.2em;
}

footer .dados-inseridos {
    font-size: 0.9em;
    background-color: blanchedalmond;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    form {
        width: 90%;
        margin: auto;
    }

    footer {
        font-size: 12px;
    }
}
